In [ ]:
# Part 1

In [2]:
# Assign it to a variable in python (appropriate data type)?
countries = ["AF","AL","DZ","AS","AD","AO","AI","AQ","AG","AR","AM","AW","AU","AT","AZ","BS","BH","BD","BB","BY","BE"]

In [3]:
# Access the second value?
print(countries[1], 'second value')

AL second value

In [5]:
# Check if the dataset is not empty?
if len(countries) > 0:
    print('countries is not empty, it has ', len(countries), 'values')

countries is not empty, it has  21 values

In [6]:
# Check if “AQ” exists in the dataset?
if "AQ" in countries:
    print('found')
else:
    print('not found')

found

In [7]:
# Part 2
# Import the COVID-19 dataset, total_cases.csv as Pandas data frame and print the bottom five rows
# of the data.
file = 'data/total_cases.csv'
import pandas as pd
df = pd.read_csv(file)

In [8]:
df.tail(5)

,date,World,Afghanistan,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,...,Uzbekistan,Vanuatu,Vatican,Venezuela,Vietnam,Wallis and Futuna,Western Sahara,Yemen,Zambia,Zimbabwe
325,2020-11-20,57030619,44133.0,30623.0,71652.0,6066.0,13922.0,3.0,139.0,1349434.0,...,71071.0,1.0,26.0,98665.0,1304.0,2.0,766.0,2086.0,17350.0,9046.0
326,2020-11-21,57710848,44365.0,31459.0,72755.0,6142.0,14134.0,3.0,139.0,1359026.0,...,71280.0,1.0,26.0,98665.0,1305.0,2.0,766.0,2090.0,17373.0,9120.0
327,2020-11-22,58278092,44519.0,32196.0,73774.0,6207.0,14413.0,3.0,139.0,1366169.0,...,71280.0,1.0,26.0,99017.0,1306.0,2.0,766.0,2093.0,17394.0,9172.0
328,2020-11-23,58794150,44771.0,32761.0,74862.0,6256.0,14493.0,4.0,139.0,1370350.0,...,71617.0,1.0,26.0,99835.0,1306.0,2.0,766.0,2099.0,17424.0,9220.0
329,2020-11-24,59307493,45017.0,33556.0,75867.0,6304.0,14493.0,4.0,139.0,1374348.0,...,71847.0,1.0,26.0,100143.0,1312.0,2.0,766.0,2107.0,17454.0,9308.0

In [13]:
# Print the columns corresponding to the United Kingdom, United States, and Sweden
df1 = df[['United Kingdom','United States', 'Sweden']]
print(df1)

     United Kingdom  United States    Sweden
0               NaN            NaN       NaN
1               NaN            NaN       NaN
2               NaN            NaN       NaN
3               NaN            NaN       NaN
4               NaN            NaN       NaN
..              ...            ...       ...
325       1453256.0     11717827.0  202052.0
326       1473508.0     11913944.0  208295.0
327       1493383.0     12089438.0       NaN
328       1512045.0     12246909.0       NaN
329       1527495.0     12420872.0       NaN

[330 rows x 3 columns]

In [16]:
us_uk = df1[['United Kingdom','United States']]
print(us_uk)

     United Kingdom  United States
0               NaN            NaN
1               NaN            NaN
2               NaN            NaN
3               NaN            NaN
4               NaN            NaN
..              ...            ...
325       1453256.0     11717827.0
326       1473508.0     11913944.0
327       1493383.0     12089438.0
328       1512045.0     12246909.0
329       1527495.0     12420872.0

[330 rows x 2 columns]

In [18]:
us_uk.describe()

       United Kingdom  United States
count    2.980000e+02   3.090000e+02
mean     3.371480e+05   3.571054e+06
std      3.460354e+05   3.414074e+06
min      2.000000e+00   1.000000e+00
25%      9.813350e+04   3.681960e+05
50%      2.827705e+05   2.312302e+06
75%      3.574082e+05   6.300671e+06
max      1.527495e+06   1.242087e+07

In [21]:
print(df.max())

date                 2020-11-24
World                  59307493
Afghanistan             45017.0
Albania                 33556.0
Algeria                 75867.0
                        ...
Wallis and Futuna           2.0
Western Sahara            766.0
Yemen                    2107.0
Zambia                  17454.0
Zimbabwe                 9308.0
Length: 216, dtype: object